@use "sass:math";

@function pow($base, $exp) {
  $result: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $result: $result * $base;
    }
  } @else if $exp < 0 {
    @for $i from $exp through -1 {
      $result: math.div($result, $base);
    }
  }
  @return $result;
}

$type-scale-steps: (
  "xs": -2,
  "sm": -1,
  "md": 0,
  "lg": 1,
  "xl": 2,
  "2xl": 3,
  "3xl": 4,
) !default;

@mixin type-scale($base: 16, $ratio: 1.25, $steps: $type-scale-steps) {
  @each $name, $step in $steps {
    $size: $base * pow($ratio, $step);
    --font-size-#{$name}: #{math.div(math.round($size * 100), 100)}px;
  }
}

:root {
  --color-neutral-50: #fbfbf8;
  --color-neutral-100: #f6f6f3;
  --color-neutral-200: #eae4e1;
  --color-neutral-300: #dbd2cc;
  --color-neutral-400: #b2a094;
  --color-neutral-500: #846f60;
  --color-neutral-600: #605445;
  --color-neutral-700: #4c4034;
  --color-neutral-800: #2e221f;
  --color-neutral-900: #211812;
  --color-neutral-950: #0f0906;

  --color-accent-50: #f2fbf5;
  --color-accent-100: #e2f6e8;
  --color-accent-200: #c6ecd3;
  --color-accent-300: #99dcb0;
  --color-accent-400: #65c385;
  --color-accent-500: #3a995b;
  --color-accent-600: #30894f;
  --color-accent-700: #286d40;
  --color-accent-800: #245736;
  --color-accent-900: #1f482e;
  --color-accent-950: #0c2717;

  --background: var(--color-neutral-50);
  --background-secondary: var(--color-neutral-100);
  --background-tertiary: var(--color-neutral-200);
  --foreground: var(--color-neutral-950);
  --foreground-secondary: var(--color-neutral-500);

  --interactive: var(--color-accent-600);
  --interactive-foreground: var(--color-accent-50);

  --header-height: 4rem;

  @include type-scale(16, 1.2);
}
