.RootLayout {
  overflow-x: hidden;
}

.Header {
  .container {
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .block {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.Footer {
  // background: var(--foreground);
  // color: var(--background);
  .container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  padding: 1rem 0;
}

.Logo {
  height: 20px;
  margin-right: 1rem;
}

.Navigation {
  display: flex;
  gap: 1rem;
}
