.RootLayout {
  overflow-x: hidden;
}

.Header {
  .container {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: var(--header-height);
  }
}

.Footer {
  // background: var(--foreground);
  // color: var(--background);
  .container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  padding: 1rem 0;
}

.Logo {
  height: 20px;
}

.Navigation {
  display: flex;
  gap: 1rem;
}
