.Skeleton {
  background: var(--background-tertiary);
  color: var(--foreground-secondary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
